apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: worker-service
  template:
    metadata:
      labels:
        app: worker-service
    spec:
      serviceAccountName: pod-manager-sa 
      containers:
      - name: worker
        image: worker-service:latest
        imagePullPolicy: Never 
        env:
          - name: RABBITMQ_PASSWORD
            valueFrom:
              secretKeyRef:
                name: app-secrets
                key: rabbitmq-password
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: app-secrets
                key: redis-password
          - name: USER_POD_NAMESPACE
            value: "default"
